.container {
    width: 100%;
    padding: 0 3vw;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 50rem) {
    .container {
        padding: 0 1vw;
        gap: 10px;
    }
}
