.container {
    width: 100%;
    padding: calc(180rem / 16) 0;

    display: flex;
    justify-content: center;
}

.container * {
    font-size: var(--font-size);
    text-align: center;
    line-height: var(--line-height-body);
}

.text_wrapper {
    width: calc(600px + 15vw);
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    gap: calc(14rem / 16);
}

.text_wrapper > h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.text_wrapper > p {
    font-weight: normal;
}

@media screen and (max-width: 50rem) {
    .container {
        padding: calc(108rem / 16) 0;
    }

    .text_wrapper {
        max-width: 85vw;
    }
}
