.container {
    height: fit-content;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    /* gap: calc(10rem / 16); */
}

.container * {
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--line-height-label);
}

.image_container {
    position: relative;

    width: 100%;
    height: auto;
    aspect-ratio: 3/4;

    background-color: var(--color-light-grey);
    overflow: hidden;
}

.image {
    object-fit: cover;
}

.image_square {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background-color: var(--color-light-grey);
}

.content_container {
    margin-top: 0.5vw;
    margin-bottom: 1.5vh;
}

.title_container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    /* text-transform: uppercase; */
    gap: calc(8rem / 16);
}

.container:hover .title_container .title,
.container:hover .title_container .subtitle {
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
}

.description {
    text-align: justify;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
