.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    object-fit: cover;

    transform-origin: top left;
    transition: scale 0.5s ease;

    /* Prevent image dragging */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}
