.container {
    height: fit-content;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: calc(8rem / 16);
}

.container * {
    font-size: calc(11rem / 16);
    font-weight: 400;
    line-height: 1.5;
}

.image_container {
    position: relative;

    width: 100%;
    height: auto;
    aspect-ratio: 1;

    background-color: var(--color-light-grey);
    overflow: hidden;
}

.image {
    aspect-ratio: 1;
    object-fit: cover;
}

.image_square {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background-color: var(--color-light-grey);
}

.title_container {
    width: 100%;
    margin-top: calc(2rem / 16);

    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: calc(8rem / 16);
}

.container:hover .title_container .title,
.container:hover .title_container .subtitle {
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
}

.description {
    margin-top: calc(4rem / 16);
    text-align: justify;

    white-space: pre;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
