.aside {
    position: absolute;
    left: 10px;
}

.nav {
    text-transform: uppercase;
    font-size: calc(11rem / 16);
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}
