.container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.grid_wrapper {
    width: 100%;
    max-width: 2400px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 20px;
    padding: 0.25rem 20px 20px 20px;
}

@media screen and (max-width: 640px) {
    .grid_wrapper {
        grid-template-columns: 1fr;
        grid-gap: clamp(10px, 5vw, 30px);
        padding: 10px;
    }
}
