.container {
    display: flex;
    flex-direction: column; /* CHANGE */
    gap: 4px;

    font-size: calc(11rem / 16);
}

.image_description_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.image_wrapper {
    height: 100%;
    width: 100%;

    position: relative;
    background-color: var(--color-gray);
}

.image_wrapper > .image {
    object-fit: cover;
}

.description {
    margin-top: calc(4rem / 16);
    color: #999;

    width: 100%;
}
