:root {
    /* HEX Colors */
    --color-white: #fff; /* #f7f7f7 */
    --color-black: #000;
    --color-light-grey: #f1f1f1;

    /* RGB Color */
    --color-white-rgb: 255, 255, 255;
    --color-black-rgb: 0, 0, 0;
    --color-light-grey-rgb: 241, 241, 241;

    /* Text */
    --text-primary: #000;
    --underline-offset: 2px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-family: 'Univers Next Pro Extended', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #d2eb79; /* WebKit/Blink Browsers */
}
::selection {
    background: #d2eb79; /* WebKit/Blink Browsers */
}
