.button {
    width: fit-content;
    height: fit-content;
    padding: calc(10rem / 16) calc(14rem / 16);

    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: calc(24rem / 16);
}

.button.enabled:hover {
    background-color: #1a1a1a;
}

.button.disabled {
    background-color: #5e5e5e;
    cursor: default;
    pointer-events: none;
}

.label {
    color: white;
    text-align: center;
}
