.grid_hh {
    grid-template-columns: 1fr 1fr;
}
.grid_hv {
    grid-template-columns: 2.02fr 1fr;
}
.grid_vh {
    grid-template-columns: 1fr 2.02fr;
}
.grid_vvv {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_wrapper {
    width: 100%;
    display: grid;
    gap: 14px;
}

.image_description_wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: calc(10rem / 16);

    font-size: calc(11rem / 16);
}

.image_description_wrapper > .image_wrapper {
    position: relative;
    background-color: var(--color-light-grey);

    width: 100%;
    min-height: 45vw;
    height: calc(50vw - 4vw - 14px); /* Subtract all gaps divided by two */
    max-height: 90vh;
}

.image_description_wrapper > .image_wrapper > .image {
    object-fit: cover;
}

.image_description_wrapper > .description {
    margin-bottom: 40px;

    color: #999; /* TODO - Variável */
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media (pointer: fine) {
    /* Styles for screens with pointer/mouse cursor */
    .image_description_wrapper > .description {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .image_wrapper:hover + .description {
        opacity: 1;
    }
}

@media screen and (max-width: 50rem) {
    .grid_wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .image_description_wrapper {
        gap: 0;
    }

    .image_description_wrapper > .image_wrapper.horizontal {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .image_description_wrapper > .image_wrapper.vertical {
        width: 100%;
        height: auto;
        aspect-ratio: 0.7;
    }

    .image_description_wrapper > .description {
        color: black;
        text-align: center;

        margin-bottom: 0;
        padding: calc(28rem / 16) calc(12rem / 16); /* TODO - Change */
    }
}
