.container {
    width: 100%;
    padding: 0 5vw;

    display: flex;
    justify-content: center;
}

.grid_wrapper {
    width: 100%;
    max-width: 2400px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 8px;
}

/* TODO - Fix mobile layouts */

@media screen and (max-width: 1200px) and (min-height: 700px) {
    .grid_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .grid_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .grid_wrapper {
        grid-template-columns: 1fr;
        grid-gap: clamp(10px, 5vw, 30px);
        padding: 10px;
    }
}

/* @keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */
