.container {
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.grid_wrapper {
    width: 100%;
    max-width: 2400px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-auto-rows: min-content; */
    grid-gap: 20px;
    /* padding: 10px; */
}

.grid_wrapper > * {
    opacity: 0;
}

.grid_wrapper > *:nth-child(3n + 1) {
    animation: fade-in-up 1s cubic-bezier(0.05, 0, 0, 1) forwards;
}

.grid_wrapper > *:nth-child(3n + 2) {
    animation: fade-in-up 1s cubic-bezier(0.05, 0, 0, 1) forwards;
    animation-delay: 0.2s;
}

.grid_wrapper > *:nth-child(3n + 3) {
    animation: fade-in-up 1s cubic-bezier(0.05, 0, 0, 1) forwards;
    animation-delay: 0.4s;
}

@media screen and (max-width: 1200px) and (min-height: 700px) {
    .grid_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .grid_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .grid_wrapper {
        grid-template-columns: 1fr;
        grid-gap: clamp(10px, 5vw, 30px);
        padding: 10px;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
