.button {
    display: block;
    font-size: var(--font-size);
    color: var(--text-primary);
}

.button:hover {
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
}
